.auth {
  &-container {
      background: #fff;
    border: 1px solid #ccc;
      box-shadow: 0rem 0.5rem 3rem rgba($color: #000000, $alpha: 0.05);
     border-radius: 3px;
    padding: 1rem;
    max-width: 60rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

  }

  &-center {
    align-items: center;
    margin: 0 auto;

    img {
      width: 6rem;
      height: 6rem;
    }
    h3 {
      margin: 0 !important;
      padding: 0 0.5rem;
      color: rgba(16, 114, 16, 0.726);
      font-size: 3rem;
      //    font-weight: 800;
      font-family: "Lobster", cursive;
    }
  }

  &-heading {
    font-size: 3rem;
}
&-content{
      @media(max-width:600px) {
          width: 100%;
      }

  }  &-input {
    display: block;
    width: 50rem;
    height: 4.5rem;
    font-size: 1.6rem;
    margin: 1rem 0;
    border-radius: 0;
    padding: 1rem;
   
    transition: 0.3s all;
    border: 1px solid transparent;
    background: rgba(203, 229, 245, 0.5);
    @media(max-width:600px) {
        width: 100%;
    }
    &:focus {
      color: rgb(27, 25, 25);
      border: 1px solid rgb(10, 107, 42);
      outline: transparent;
    }
  }
}
