.category-content {
  // transform: translateX(4%);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  @media (min-width: 1600px) {
  grid-template-columns: repeat(5,1fr);    
  }
  @media (max-width: 600px) {
  grid-template-columns: repeat(2,1fr);    
  }
}
.category-top-content {
  user-select: none;
  align-items: center;
  h2 {
    font-size: 3rem;
    font-family: "Lobster", cursive;
    text-transform: capitalize;
  }
  span {
    cursor: pointer;
    font-size: 2rem;
  }
}

.category-container {
  max-width: 1800px;
  width: 100%;
  margin: 5rem auto;
}
