.food-holder {
  // width: 20rem;
  width: 100%;
  margin: 1rem;
  display: inline-block;
  @media (max-width: 450px) {
    margin: 1rem auto;
  }
  &:hover &-body {
    transform: scale(1.2) rotate(5deg);
    z-index: 2;

    @media (max-width: 760px) {
      transform: scale(1) rotate(5deg);
      z-index: 1;
    }
  }
  &-price {
    transition: 0.4s all;
    font-weight: 700;
  }
  &:hover &-price {
    opacity: 0;
  }
  &:hover &-top,
  &:hover &-footer {
    transform: translateY(0);
    opacity: 1;
  }

  img {
    width: 100%;
  }

  &-top {
    transition: 0.4s all;
    will-change: transform;
    transform: translateY(5rem);
    opacity: 0;
    span {
      font-size: 2rem;
      background: rgba(211, 227, 235, 0.849);
      padding: 1rem;
      display: inline-block;
    }

    .heart {
      font-size: 3rem;
      cursor: pointer;
      &.red {
        color: rgb(235, 16, 16);
        animation: scale3 1s linear forwards;
      }
    }
  }

  &-body {
    transition: 0.4s all;
    will-change: transform;
    z-index: 1;
  }

  &-footer {
    transition: 0.4s all;
    will-change: transform;
    transform: translateY(-5rem);
    opacity: 0;
    z-index: 2;
    button {
      background: rgb(243, 188, 9);

      // background: rgba(16, 114, 16, 0.726);
      border: none;
      color: rgb(255, 255, 255);
      display: block;
      padding: 1rem 2rem;
      width: 100%;
      font-size: 1.7rem;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@keyframes scale3 {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
